.idea/*
.gradle/*
/src/inclusive-charity/.gradle/*
.gradle
src/inclusive-charity/.project
src/inclusive-charity/.gradle/5.2.1/executionHistory/executionHistory.bin
src/inclusive-charity/.gradle/5.2.1/executionHistory/executionHistory.lock
src/inclusive-charity/.gradle/5.2.1/fileHashes/fileHashes.bin
src/inclusive-charity/.gradle/5.2.1/fileHashes/fileHashes.lock
src/inclusive-charity/.gradle/5.2.1/javaCompile/javaCompile.lock
src/inclusive-charity/.gradle/5.2.1/javaCompile/taskHistory.bin
src/inclusive-charity/.gradle/buildOutputCleanup/buildOutputCleanup.lock
src/inclusive-charity/.gradle/buildOutputCleanup/cache.properties
src/inclusive-charity/.gradle/buildOutputCleanup/outputFiles.bin
src/inclusive-charity/.idea/compiler.xml
src/inclusive-charity/.idea/workspace.xml
src/inclusive-charity/.settings/org.eclipse.buildship.core.prefs
src/inclusive-charity/build/classes/java/main/com/wx/inclusive/charity/server/InclusiveCharityServerApplication.class
src/inclusive-charity/build/classes/java/main/com/wx/inclusive/charity/server/beans/BaseResponse.class
src/inclusive-charity/build/classes/java/main/com/wx/inclusive/charity/server/beans/DonateRequest.class
src/inclusive-charity/build/classes/java/main/com/wx/inclusive/charity/server/beans/DonateResponse.class
src/inclusive-charity/build/classes/java/main/com/wx/inclusive/charity/server/beans/NormalResponse.class
src/inclusive-charity/build/classes/java/main/com/wx/inclusive/charity/server/beans/ResponseFormat.class
src/inclusive-charity/build/classes/java/main/com/wx/inclusive/charity/server/beans/data/ChainInfo.class
src/inclusive-charity/build/classes/java/main/com/wx/inclusive/charity/server/beans/data/CharityAccount.class
src/inclusive-charity/build/classes/java/main/com/wx/inclusive/charity/server/beans/data/CharityFeeAccount.class
src/inclusive-charity/build/classes/java/main/com/wx/inclusive/charity/server/beans/data/DonaterAccount.class
src/inclusive-charity/build/classes/java/main/com/wx/inclusive/charity/server/beans/data/RecipientAccount.class
src/inclusive-charity/build/classes/java/main/com/wx/inclusive/charity/server/constants/Magic.class
src/inclusive-charity/build/classes/java/main/com/wx/inclusive/charity/server/constants/ReturnCode.class
src/inclusive-charity/build/classes/java/main/com/wx/inclusive/charity/server/controller/InclusiveCharityController.class
src/inclusive-charity/build/classes/java/main/com/wx/inclusive/charity/server/service/InclusiveCharityService.class
src/inclusive-charity/.gradle/5.2.1/executionHistory/executionHistory.bin
src/inclusive-charity/.gradle/5.2.1/executionHistory/executionHistory.lock
src/inclusive-charity/.gradle/5.2.1/fileHashes/fileHashes.bin
src/inclusive-charity/.gradle/5.2.1/fileHashes/fileHashes.lock
src/inclusive-charity/.gradle/5.2.1/javaCompile/javaCompile.lock
src/inclusive-charity/.gradle/5.2.1/javaCompile/taskHistory.bin
src/inclusive-charity/.gradle/buildOutputCleanup/buildOutputCleanup.lock
src/inclusive-charity/.gradle/buildOutputCleanup/cache.properties
src/inclusive-charity/.gradle/buildOutputCleanup/outputFiles.bin
src/inclusive-charity/.idea/compiler.xml
src/inclusive-charity/.idea/workspace.xml
